.parent{
    background-color: rgb(13, 90, 121);
    padding: 10px;
    display: inline-block;
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.child {
    background-color: white;
    width: 100%;
    margin: 0px auto;
    max-width: 600px;
    border-radius: 9px;
}
.heading{
    text-align: center;
    background-color: grey;
    border-radius: 7px 7px 0px 0px;
    height: 48px;
}
label{
    color: rgb(8, 243, 133);
    FONT-SIZE: 16PX;
}
.black{
    color: black;
    FONT-SIZE: 12PX;
}
.container1{
    float: left;
    width: 100%;
    margin: auto;
    font-size: 24px;
}
.container2{
        padding: 0;
        font-size: 24px;
        width: 100%;
}
.container3{
    padding: 41px;
    font-size: 24px;
}
#text{
    width: 100%;
}
.footer{
    background-color: gray;
    border-radius: 0px 0px 9px 9px;
    text-align: end;
    padding: 12px 40px;
    float: left;
    width: 100%;
    margin-bottom: 0px;
}
.container4{
    display: flex;
}
.container5{
    display: flex;
}
button {
    width: 100px;
    border: 1px solid blue;
    background-color: rgb(8, 243, 133);
    color: black;
    border-radius: 20px;
    padding: 5px 0px;
    display: inline-block;
}
.form-control {
    width: 100%;
    height: 32px;
}
form {
    float: left;
    width: 100%;
    /* padding: 20px 30px; */
    background: #FFF;
    border-radius: 0px 0px 12px 12px;
}
.container1 .c1 {
    float: left;
    width: 48%;
}
.container1 .c2 {
    float: right;
    width: 48%;
}
.container5 .c3, .container4 .c3 {
    display: inline-block;
    margin: 0px 3px;
}
.final{
    float: left;
    width: 100%;
    padding: 20px 30px;
    background: #FFF;
}
.errormessage{
    color: red;
    font-size: 11px;
    letter-spacing: 0.04em;
}

.income{
    width: calc(100% - 70px);

}

#num{
  background-color:rgb(8, 243, 133);
}

.bi-eye-slash::before {
    content: "\f320";
    float: right;
    position: relative;
    bottom: 30px;
}


